:root {
  --temp-background: rgba(0, 0, 0, 0.7);
  --card-background: rgba(53, 53, 53, 0.575);
  --bg-overlay: rgba(0, 0, 0, 0.5);
  --section-box-shadow-dark:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --section-box-shadow-hover:  rgba(100, 100, 100, 0.25) 0px 54px 55px, rgba(100, 100, 100, 0.12) 0px -12px 30px, rgba(100, 100, 100, 0.12) 0px 4px 6px, rgba(100, 100, 100, 0.17) 0px 12px 13px, rgba(100, 100, 100, 0.09) 0px -3px 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-image: url(https://wallpaperaccess.com/full/1540016.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; 
  width: 100vw; 
  border: 1px solid mediumblue;
  margin: auto;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-overlay);
  overflow-y: auto;
}

.app-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .link {
  color: #61dafb;
} */

/* .content {
  border: 1px solid mediumblue;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

.searchDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchButton{
  color: white;
  height: 20px;
  width: 20px;
}

.searchButton:hover{
  color:aquamarine;
  cursor: pointer;
}

.searchForm {
  width: 40%;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 32px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.main_section {
  max-width: 700px;
  margin: auto;
  max-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}


.section {
  width: 100%;
  height: 20vh;
  padding: 1rem;
  border-radius: 0.6rem;
  color: white;
  margin-bottom: 1rem;
}

.section_temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--section-box-shadow-dark);
}

.section_temperature:hover{
  box-shadow: var(--section-box-shadow-hover);
}

.section_additionaldata {
  width: 95%;
  height: auto;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.6rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--section-box-shadow-dark);

}

@media (max-width: 767px) {
  .section_additionaldata{
    flex-direction: column;
  }
}

.section_additionaldata_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_additionaldata_icon {
  padding: 10px;
}

.temperature>h1 {
  font-size: 3em;
}

.week_section {
  max-width: 95vw;
  margin: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

@media (max-width: 767px) {
  .week_section{
    flex-direction: column;
  }
}

.week_section_size {
  width: 100%;
  height: 45vh;
  padding: 1rem;
  border-radius: 0.6rem;
  color: white;
  margin: 1rem;
  box-shadow: var(--section-box-shadow-dark);
}

@media (max-width: 767px) {
  .week_section_size{
    height: 25vh;
  }
}

.week_section_size:hover{
  box-shadow: var(--section-box-shadow-hover);
}

.section_week {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--temp-background); */
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.icon>h3 {
  font-size: 22px;
  font-weight: 200;
  text-transform: capitalize;
}

.iconWeather{
  width: 120px;
  height: auto;
}

.temperature>h1 {
  font-size: 52px;
}

.temperature>h2 {
  font-size: 3vw;
  word-break: break-all;
}

.goBackButton{
  color: white;
  height: 20px;
  width: 20px;
}

.goBackButton:hover{
  color:aquamarine;
  cursor: pointer;
}

.homeButton{
  color: white;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.homeButton:hover{
  color:aquamarine;
  cursor: pointer;
}

.map {
  height: 600px;
  width: 60rem;
  margin: 2em;
  border-radius: 5px;
  box-shadow: var(--section-box-shadow-dark);
}

@media (max-width: 1080px) {
  .map{
    height: 400px;
    width: 35rem;
    margin: 1em;
  }
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.reactgoogleChart{
  border-radius: 20px;
  box-shadow: var(--section-box-shadow-dark);
}

.faicons{
  height: 30px;
  width: 30px;
}

.faicon_hover:hover{
  font-size: 22px;
}

.todayDate{
  color: white;
  height: 20px;
  width: 20px;
}